<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.qing.gank</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2DBEC022-FA5E-4518-A4CA-BE1502994C92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5C8B59B-30BD-471E-AE41-F38F16F4BDE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81991E65-8AF1-4322-80C5-BEA36C712878</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D707B4B-849D-43B1-B8C6-4A3954182A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C922E4EA-2211-474F-870B-96183C677516</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93763FA4-F012-4EE8-A104-63B0F4CE8557</key>
		<array/>
		<key>9D707B4B-849D-43B1-B8C6-4A3954182A22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16DCBF7F-2F19-4646-8734-C13D6250857D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C922E4EA-2211-474F-870B-96183C677516</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93763FA4-F012-4EE8-A104-63B0F4CE8557</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dcq</string>
	<key>description</key>
	<string>干货集中营</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gank</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>16DCBF7F-2F19-4646-8734-C13D6250857D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

query = sys.argv[1]

query = query.split('$')[2]

sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D707B4B-849D-43B1-B8C6-4A3954182A22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>gk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>干货搜索中，请稍后</string>
				<key>script</key>
				<string>python GankSearch.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>获取最新干货，搜索指定干货</string>
				<key>title</key>
				<string>干货集中营</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81991E65-8AF1-4322-80C5-BEA36C712878</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>收藏成功</string>
				<key>title</key>
				<string>Gank</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93763FA4-F012-4EE8-A104-63B0F4CE8557</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python Write2MD.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C922E4EA-2211-474F-870B-96183C677516</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>处理中...</string>
				<key>script</key>
				<string>python GankLook.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>根据类型，查看收藏的干货数据</string>
				<key>title</key>
				<string>查看干货</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2DBEC022-FA5E-4518-A4CA-BE1502994C92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5C8B59B-30BD-471E-AE41-F38F16F4BDE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>gk </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D23E2BC-781C-4F24-A75E-E7747D2724CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>gl </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4B6EA3B8-4914-4ECF-86F4-9C5F6908CF3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16DCBF7F-2F19-4646-8734-C13D6250857D</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>2DBEC022-FA5E-4518-A4CA-BE1502994C92</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>4B6EA3B8-4914-4ECF-86F4-9C5F6908CF3D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>5D23E2BC-781C-4F24-A75E-E7747D2724CB</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>81991E65-8AF1-4322-80C5-BEA36C712878</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>93763FA4-F012-4EE8-A104-63B0F4CE8557</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>9D707B4B-849D-43B1-B8C6-4A3954182A22</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>A5C8B59B-30BD-471E-AE41-F38F16F4BDE0</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>C922E4EA-2211-474F-870B-96183C677516</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
